.body {
  background-image: url("images/lists-ga176be7f7_1920.jpg");
  background-size: cover;
}

.container {
  max-width: 1300px;
  background-color: rgba(167, 167, 167, 0.9);
  margin: 0 auto;
}

.header {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
  text-align: center;
  font-size: 35px;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
  -webkit-box-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
          box-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
}

.list .list-item {
  width: 350px;
  margin: 0;
  border: 3px solid white;
  border-radius: 4px;
  padding: 3px 3px;
  -webkit-box-shadow: 7px 4px 4px rgba(255, 208, 122, 0.952);
          box-shadow: 7px 4px 4px rgba(255, 208, 122, 0.952);
  margin: 50px;
}

.list .list-item .list-item-title {
  color: #cecdcd;
  text-align: center;
  border: 1px solid rgba(255, 208, 122, 0.952);
  border-radius: 10px;
  padding: 12px;
  margin: 10px auto;
  margin-bottom: 30px;
  font-size: 24px;
  font-family: 'Bitter', serif;
}

.list .list-item .list-item-task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 8px auto;
}

.list .list-item .list-item-task .list-item-task-form {
  background-color: rgba(255, 255, 255, 0.8);
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
}

.list .list-item .list-item-task .list-item-task-form .list-item-task-form-input {
  border: 3px solid gray;
  -webkit-box-shadow: 3px #a7a797;
          box-shadow: 3px #a7a797;
  outline: none;
  border-radius: 15px 1px 15px 1px;
  width: 70%;
  margin: 7px 45px;
  font-size: 15px;
  text-align: center;
}

.list .list-item .list-item-task .list-item-task-form .list-item-task-form-input:focus {
  background-color: #f2f275;
}

.list .list-item .list-item-task .list-item-task-form .list-item-task-form-textArea {
  overflow: auto;
  resize: none;
  outline: none;
  display: block;
  margin: 7px auto;
  -webkit-box-shadow: 3px #a7a797;
          box-shadow: 3px #a7a797;
  border-radius: 7px;
  border: 3px solid gray;
  text-align: center;
  font-size: 15px;
  font-family: 'Bitter', serif;
}

.list .list-item .list-item-task .list-item-task-form .list-item-task-form-textArea:focus {
  background-color: #f2f275;
}

.list .list-item .list-item-task .list-item-task-form .list-item-task-form-data {
  display: block;
  margin: 7px auto;
  border-radius: 7px;
  outline: none;
}

.list .list-item .list-item-task .list-item-task-form .list-item-task-form-btn {
  background-color: gray;
  text-decoration: none;
  border-radius: 7px;
  display: block;
  margin: 0 auto;
  width: 75%;
}

.list .list-item .list-item-task .list-item-task-form .list-item-task-form-btn:hover {
  background-color: #ededb2;
}

.list .list-item .list-item-task .list-item-task-form .list-item-task-form-btn:focus {
  background-color: #f2f275;
}

.list .list-item .list-item-task .list-item-task-form .list-item-task-form-user {
  display: block;
  margin: 0 auto;
  margin-bottom: 7px;
  border: 3px solid gray;
  border-radius: 15px 1px 15px 1px;
  text-align: center;
  font-size: 15px;
}

.list .list-item .list-item-task .list-item-task-form .list-item-task-form-user:focus {
  background-color: #f2f275;
}

.list .list-item-total {
  text-align: right;
  color: white;
  font-family: 'Bitter', serif;
  font-size: 20px;
}

#ulInProgress,
#ulDOne {
  list-style-type: none;
  background-color: white;
  margin: 0 auto;
  text-align: center;
  border: 1px solid yellow;
  border-radius: 1px 5px 1px 5px;
}

.list-item-task-add-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 5px auto;
}

.list-item-task-add-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  list-style-type: none;
  background-color: white;
  list-style-position: inside;
  margin: 0 auto;
  text-align: center;
  border: 1px solid yellow;
  border-radius: 1px 5px 1px 5px;
  text-shadow: none;
}

.list-item-task-add-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#btn-complete {
  text-align: right;
  margin: 2px;
  text-decoration: none;
  zoom: 1.7;
  display: block;
  margin: auto 1px;
}

#btn-delete {
  margin-left: 3px;
  height: 22px;
  margin: auto 1px;
  border-radius: 6px;
  text-decoration: none;
  background-color: #e45454;
  color: white;
}
/*# sourceMappingURL=style.css.map */