.body {
  background-image: url('images/lists-ga176be7f7_1920.jpg');
  background-size: cover;
  .header {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
    text-align: center;
    font-size: 35px;
  }
  .container {
    max-width: 1400px;
    background-color: rgba(167, 167, 167, 0.9);
    margin: 0 auto;
    .list {
      display: flex;
      justify-content: center;
      text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
      box-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
      .list-item {
        width: 100%;
        margin: 0;
        border: 3px solid white;
        border-radius: 4px;
        padding: 3px 3px;
        box-shadow: 7px 4px 4px rgba(255, 208, 122, 0.952);
        margin: 50px;
        .list-item-title {
          color: rgb(206, 205, 205);
          text-align: center;
          border: 1px solid rgba(255, 208, 122, 0.952);
          border-radius: 10px;
          padding: 12px;
          margin: 10px auto;
          margin-bottom: 30px;
          font-size: 24px;
          font-family: 'Bitter', serif;
        }
        .list-item-task {
          display: flex;
          justify-content: space-around;
          margin: 8px auto;
          .list-item-task-form {
            background-color: rgba(255, 255, 255, 0.8);
            padding-top: 10px;
            padding-bottom: 10px;
            border-radius: 20px;
            .list-item-task-form-input {
              display: block;
              border: 3px solid gray;
              box-shadow: 3px rgb(167, 167, 151);
              outline: none;
              border-radius: 15px 1px 15px 1px;
              width: 80%;
              margin: 7px auto;
              font-size: 15px;
              text-align: center;
              &:focus {
                background-color: rgba(255, 208, 122, 0.852);
              }
            }
            .list-item-task-form-textArea {
              width: 80%;
              overflow: auto;
              resize: none;
              outline: none;
              display: block;
              margin: 7px auto;
              box-shadow: 3px rgb(167, 167, 151);
              border-radius: 7px;
              border: 3px solid gray;
              text-align: center;
              font-size: 15px;
              font-family: 'Bitter', serif;
              &:focus {
                background-color: rgba(255, 208, 122, 0.852);
              }
            }
            .list-item-task-form-data {
              display: block;
              margin: 7px auto;
              border-radius: 7px;
              outline: none;
            }
            .list-item-task-form-btn {
              background-color: gray;
              text-decoration: none;
              border-radius: 7px;
              display: block;
              margin: 0 auto;
              width: 75%;
              cursor: pointer;
              &:hover {
                background-color: rgb(237, 237, 178);
              }
              &:focus {
                background-color: rgba(255, 208, 122, 0.852);
              }
            }
            .list-item-task-form-user {
              display: block;
              margin: 0 auto;
              margin-bottom: 7px;
              border: 3px solid gray;
              border-radius: 15px 1px 15px 1px;
              text-align: center;
              font-size: 15px;
              &:focus {
                background-color: rgba(255, 208, 122, 0.852);
              }
            }
          }
        }
      }
      .list-item-task-clear {
        color: white;
        text-align: right;
        text-shadow: 1px 1px 2px black;
        padding: 3px;
        font-size: 20px;
        display: none;
        font-family: Georgia, 'Times New Roman', Times, serif;
        &:hover {
          text-decoration: underline;
          padding: 3px;
          color: red;
          transition: 0.5s;
          cursor: pointer;
        }
      }
      .list-item-task-add {
        display: flex;
        flex-direction: column;
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin: 5px auto;
        .list-item-task-add-description {
          display: flex;
          justify-content: space-between;
          width: 95%;
          list-style-type: none;
          background-color: white;
          list-style-position: inside;
          margin: 3px 5px;
          margin-left: 10px;
          text-align: justify;
          border: 3px double purple;
          border-radius: 1px 5px 1px 5px;
          text-shadow: none;
          word-wrap: break-word;
          .list-item-task-add-all {
            margin: auto 5px;
            word-wrap: break-word;
            .list-item-task-add-all-span {
              margin: auto 5px;
            }
          }
        }
        .list-item-task-add-buttons {
          display: flex;
          justify-content: flex-end;
          flex-direction: row;
          text-align: center;
        }
      }
      .list-item-total {
        text-align: right;
        color: white;
        font-family: 'Bitter', serif;
        font-size: 20px;
      }
    }
  }
}

#btn-inPr,
#btn-return,
#btn-inDone {
  text-align: right;
  text-decoration: none;
  background-color: rgb(212, 244, 255);
  display: block;
  height: 22px;
  white-space: nowrap;
  margin: auto 4px;
  cursor: pointer;
}
#btn-delToDo,
#btn-delInPr,
#btn-delDone {
  height: 22px;
  margin: auto 3px;
  border-radius: 6px;
  text-decoration: none;
  background-color: rgb(228, 84, 84);
  color: white;
  cursor: pointer;
}

#strong {
  display: block;
  text-align: center;
}

#data-user {
  display: block;
}
