body {
  background-color: rgba($color: #000000, $alpha: 0.7);
}

.header {
  color: white;
  text-align: center;
  font-size: x-large;
}

.list {
  display: flex;
  justify-content: center;

  .list-item {
    width: 350px;
    margin: 0;
    border: 3px solid white;
    border-radius: 4px;
    padding: 3px 3px;
    box-shadow: 7px 4px 4px yellow;
    margin: 50px;
    .list-item-title {
      color: rgb(206, 205, 205);
      text-align: center;
      border: 1px solid yellow;
      border-radius: 10px;
      padding: 12px;
      margin: 10px auto;
      margin-bottom: 30px;
      font-size: 24px;
      font-family: 'Bitter', serif;
    }
    .list-item-task {
      display: flex;
      justify-content: space-around;
      margin: 8px auto;
      .list-item-task-form {
        background-color: rgba(255, 255, 255, 0.8);
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 20px;
        .list-item-task-form-input {
          border: 3px solid gray;
          box-shadow: 3px rgb(167, 167, 151);
          outline: none;
          border-radius: 15px 1px 15px 1px;
          width: 70%;
          margin: 7px 45px;
          font-size: 15px;
          text-align: center;
          &:focus {
            background-color: rgb(242, 242, 117);
          }
        }
        .list-item-task-form-textArea {
          overflow: auto;
          resize: none;
          outline: none;
          display: block;
          margin: 7px auto;
          box-shadow: 3px rgb(167, 167, 151);
          border-radius: 7px;
          border: 3px solid gray;
          text-align: center;
          font-size: 15px;
          &:focus {
            background-color: rgb(242, 242, 117);
          }
        }
        .list-item-task-form-data {
          display: block;
          margin: 7px auto;
          border-radius: 7px;
          outline: none;
        }
        .list-item-task-form-btn {
          background-color: gray;
          text-decoration: none;
          border-radius: 7px;
          display: block;
          margin: 0 auto;
          width: 75%;
          &:hover {
            background-color: rgb(237, 237, 178);
          }
          &:focus {
            background-color: rgb(242, 242, 117);
          }
        }
        .list-item-task-form-user {
          display: block;
          margin: 0 auto;
          margin-bottom: 7px;
          border: 3px solid gray;
          border-radius: 15px 1px 15px 1px;
          text-align: center;
          font-size: 15px;
          &:focus {
            background-color: rgb(242, 242, 117);
          }
        }
      }
    }
  }
  .list-item-total {
    text-align: right;
    color: white;
    font-family: 'Bitter', serif;
    font-size: 20px;
  }
}

#totalCenter {
  text-align: center;
}

#ulInProgress,
#ulDOne {
  list-style-type: none;
  background-color: white;
  margin: 0 auto;
  text-align: center;
  border: 1px solid yellow;
  border-radius: 1px 5px 1px 5px;
}
.list-item-task-addLi {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  background-color: white;
  list-style-position: inside;
  margin: 0 auto;
  text-align: center;
  border: 1px solid yellow;
  border-radius: 1px 5px 1px 5px;
  .list-item-task-addLi-ready {
    display: inline-block;
    margin: 0 auto;
    text-align: left;
  }
  .list-item-task-addLi-btnDel {
    background-color: rgb(255, 122, 122);
    text-align: right;
    border-radius: 15px;
    border: inherit;
  }
}

.list-item-task-btnDel {
  padding: 0 7px;
  border-radius: 5px;
  text-decoration: none;
  background-color: rgb(228, 84, 84);
  color: white;
}
